.journal-entry-container {
  background-color: #dfe6e9;
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
}
#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.entry-card {
  text-align: center;
  position: absolute;
  width: 250px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#467d9f, #5a9ab7, #a4dafb);
  transition: 0.6s;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.entry-card:hover {
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: 0.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#entryObjContainer {
  /* margin-top: 15px; */
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: 21%;
  height: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  font-size: 25px;
  font-family: "Abel", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 2px rgb(255, 255, 255);
  transform: translatey(10px);
}

p {
  font-family: "Abel", sans-serif;
  color: white;
  text-align: center;
  width: 220px;
  transform: translatex(12px);
}
